<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Eden Liu" content="">
    <title>{{ page_title }}</title>
    <style>
        HTML {
            font-family: Gill Sans
        }
    </style>
</head>

<body>
    {% block header %}
    <h1>Eden Liu</h1>
    {% endblock %}
    
    <main>
    
    {% block main_content %}
    <!-- Insert content -->
    {% endblock %}
    
    </main>

{% block end_scripts %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{% endblock %}    
    
</body>
</html>
    